$blue : rgb(22, 168, 240);
$grey : rgb(204, 204, 204);
$lightGrey : rgb(242, 242, 242);
$darkGrey : rgb(100, 100, 100);
$orange : #FFC234;

$melodyGridSize : 300px;
$bottomHeight : 100px;

$gridWidth : 8;
$gridHeight : 14;

$buttonSize : 60px;
$buttonMargin : 15px;