@import "common.scss";

#Grid {
	width: 100%;
	height: calc(100% - #{$bottomHeight});
	position: absolute;
	top: 0px;
	left: 0px;

	canvas {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;		
		cursor: pointer;
	}
}