@import "common.scss";
@import "common.scss";

$Margin: 12px;

$PartMargin: 10px;

#Parts {
	background-color: white;
	width: calc(100% + #{$PartMargin});
	height: $PartHeight;
	position: absolute;
	z-index: 2;
	top: $TopbarHeight;
	left: -$PartMargin;

	@include SmallHeight {
		height: $SmallPartHeight;
	}

	$LoopPositionWidth : 4px;

	#LoopPosition {
		width: $LoopPositionWidth;
		background-color: black;
		opacity: 0.3;
		left: 0px;
		height: 100%;
		margin-left: -$LoopPositionWidth/2;
		position: absolute;
		top: 0px;
		z-index: 100;
	}

	.Part {
		width: 100%;
		height: $PartHeight;
		position: relative;
		box-shadow: inset 12px 0 7px -7px rgba(0,0,0,0.1);

		@include SmallHeight {
			height: $SmallPartHeight;
		}

		.Note {
			margin-left: $PartMargin + 2px;
			margin-right: 2px;
			width: 0px;
			height: 5px;
			position: absolute;
			background-color: white;
			$TransitionTime : 0.3s;
			transition: background-color $TransitionTime, top $TransitionTime;

			#Highlight {
				background-color: black;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
				opacity: 0;
				// transition: opacity 0.2s;
			}

			#Highlight.Active {
				opacity: 1;
				// transition: opacity 0s;
			}
		}

		@for $item from 1 through 40{
			.Note:nth-child(#{$item}){ 
				transition-delay: #{$item / 60}s; 
			}
		} 
	}

	.slick-arrow {
		position: absolute;
		top: calc(100% + #{$Margin});
		border: none;
		color: $darkGrey;
		font-size: 0px;
	}

	.slick-arrow:before {
		top: 0px;
		position: absolute;
		left: 0px;
		font-size: $ButtonSize;
		width: 100%;
		text-align: center;

		@media screen and (max-width: $SmallScreen) {
			font-size: $SmallButtonSize;
		}
	}

	.slick-disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	.slick-prev {
		left: $Margin + $PartMargin;
	}

	.slick-next {
		right: $Margin;
	}
}

.MetronomeOpen {
	#Parts .Part #Highlight {
		opacity: 0!important;
	}

	#LoopPosition {
		left: 0px!important;
	}
}