$red : rgb(219, 68, 55);

$GRAY_50: #FAFAFA;
$GRAY_100: #F5F5F5;
$GRAY_200: #EEEEEE;
$GRAY_300: #E0E0E0;
$GRAY_400: #BDBDBD;
$GRAY_500: #9E9E9E;
$GRAY_600: #757575;
$GRAY_700: #616161;
$GRAY_800: #424242;
$GRAY_900: #212121;

$YELLOW_500: #FFB729;

$PINK_50: #FCE4EC;
$PINK_100: #F8BBD0;
$PINK_200: #F48FB1;
$PINK_300: #F06292;
$PINK_400: #EC407A;
$PINK_500: #E91E63;
$PINK_600: #D81B60;
$PINK_700: #C2185B;
$PINK_800: #AD1457;
$PINK_900: #880E4F;
$PINK_A100: #FF80AB;
$PINK_A200: #FF4081;

$bottomSize : 12%;
$spinnerSize : 100% - $bottomSize;