$red: rgb(219, 68, 55);

$GRAY_50: #fafafa;
$GRAY_100: #f5f5f5;
$GRAY_200: #eeeeee;
$GRAY_300: #e0e0e0;
$GRAY_400: #bdbdbd;
$GRAY_500: #9e9e9e;
$GRAY_600: #757575;
$GRAY_700: #616161;
$GRAY_800: #424242;
$GRAY_900: #212121;

$YELLOW_500: #ffb729;

$PINK_50: #fce4ec;
$PINK_100: #f8bbd0;
$PINK_200: #f48fb1;
$PINK_300: #f06292;
$PINK_400: #ec407a;
$PINK_500: #e91e63;
$PINK_600: #d81b60;
$PINK_700: #c2185b;
$PINK_800: #ad1457;
$PINK_900: #880e4f;
$PINK_A100: #ff80ab;
$PINK_A200: #ff4081;

$bottomSize: 12%;
$spinnerSize: 100% - $bottomSize;
